@page "/"
@inject CustomAuthenticationStateProvider AuthService

<PageTitle>Home</PageTitle>

<h1>Campaign Management Application</h1>

<hr />

<h5>Welcome, this application is where you going to create new campaign, customers(info), and emails.</h5>

<p>Please <NavLink href="/login">login</NavLink>.</p>

<p>If you don't have a register, please, do your registe first <NavLink href="/register">register</NavLink>.</p>


